<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="apiBaseURL" value="http://localhost:5000/api/" />
	<add key="browserType" value="Chrome" />
	<add key="environment" value="Local" />
	<add key="environmentURL" value="http://192.168.0.19:4200/" />
	<add key="gridURL" value="http://192.168.0.25:4444" />
	<add key="screenshotsDir" value="C:\ScreenshotsPetbookTests" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>