<configuration>
  <appSettings>
    <add key="apiBaseURL" value="http://localhost:5000/api/" />
	<add key="browserType" value="Chrome" />
	<add key="environment" value="Local" />
	<add key="environmentURL" value="https://www.facebook.com/" />
	<add key="gridURL" value="" />
  </appSettings>
</configuration>